---
layout: default
title: About Scout Digital Training
meta-description:
featured-image_path:
---

<section class="no-padding page-title-header grid-middle">
  <h1 class="col-12"> About Scout Digital Training </h1>
</section>

<section class="grid">

  <section class="col-8_md-12">

    <section>
      <h4> Scout Digital Training is a specialist division of <a href="http://www.scoutdigitalmarketing.com.au" target="_blank">Scout Digital Marketing</a>, dedicated to providing practical and effective digital training to small groups. </h4>
      <p> Ut eum veniam dicunt virtute, an noster voluptua convenire mei. At sed tollit scaevola, an maiorum repudiare per. Mei epicuri apeirian ne, usu iisque aliquam praesent ad, omnes ullamcorper in pri. Vitae quaeque mea cu. Mei quot laoreet laboramus eu, cu propriae patrioque maiestatis vel. </p>
    </section>

    <section>
      {% include profile-erica.html %}
    </section>

    <section class="background-grey">
      {% include testimonial-jones-writer.html %}
    </section>

    <!-- possibly include overview video here, embed from YouTube -->

    <section>
      {% include venue.html %}
    </section>

  </section>

<!-- right hand side column, currently empty -->
  <section class="col-4_md-12 background-grey">
    <h6>Browse our courses:</h6>
    <p><a href="/google-analytics-intro.html">Introduction to Google Analytics</a></p>
    <p><a href="/google-analytics-further.html">Taking Google Analytics Further</a></p>
    <p><a href="/seo-basics.html">Introduction to SEO Best Practices</a></p>
  </section>

</section>
