---
layout: default
title: About Scout Digital Training
title-header: About Scout Digital Training
meta-description:
featured-image_path:
---

<section class="grid">

  <section class="col-8_md-12">

    <section>
      <h4> About Scout Digital Training: <a href="http://www.scoutdigitalmarketing.com.au" target="_blank">Scout Digital Marketing</a>’s specialist training division </h4>
      <p> Scout Digital Training is dedicated to providing practical and effective digital training to small groups and individuals for a variety of industries. </p>
      <p> Whether you’re seeking to advance your career, become a leader in your field, increase your online reach or meet your marketing objectives, these in person, half day courses will leave you feeling confident and filled with extra knowledge and skills. </p>
      <p> Our educational sessions work with your existing knowledge to boost efficiency and ensure you get the absolute most out of the training and workshops. </p>
      <h5> We offer: </h5>
      <ul>
        <li> genuine guidance and personalised advice </li>
        <li> expertise on best practices and </li>
        <li> technical knowledge and proven techniques. </li>
      </ul>
      <p> With years of expertise in the digital marketing arena, our approach is friendly, professional, trustworthy and knowledgeable. </p>
      <p> We’ll do our best. Scout’s honour. </p>
    </section>

    <section>
      {% include profile-erica.html %}
    </section>

    <section class="background-grey">
      {% include testimonial-jones-writer.html %}
    </section>

    <!-- possibly include overview video here, embed from YouTube -->

    <section>
      {% include venue.html %}
    </section>

  </section>

<!-- right hand side column, currently empty -->
  <section class="col-4_md-12 background-grey">
    <h6>Browse our courses:</h6>
    <p><a href="/google-analytics-intro.html">Introduction to Google Analytics</a></p>
    <p><a href="/google-analytics-further.html">Taking Google Analytics Further</a></p>
    <p><a href="/seo-basics.html">Introduction to SEO Best Practices</a></p>
    <h6>Course calendar:</h6>
    <p><a href="/course-calendar.html">View all upcoming course dates on our course calendar</a></p>
  </section>

</section>
