---
layout: default
title: Google Analytics and SEO Training Courses
meta-description:
featured-image_path:
---

<section class="no-padding page-title-header grid-middle">
  <h1 class="col-12"> Google Analytics and SEO Training Courses </h1>
</section>

<section class="centered">

  <h4> Scout Digital Training offers a range of practical and effective half day training courses to small groups (5-20 per class). </h4>
  <p> Ut eum veniam dicunt virtute, an noster voluptua convenire mei. At sed tollit scaevola, an maiorum repudiare per. Mei epicuri apeirian ne, usu iisque aliquam praesent ad, omnes ullamcorper in pri. Vitae quaeque mea cu. Mei quot laoreet laboramus eu, cu propriae patrioque maiestatis vel. </p>

  <div class="grid-centered no-padding">

    <div class="col-4_sm-12 grid-equalHeight">
      {% include course-summary-ga-intro.html %}
    </div>

    <div class="col-4_sm-12 grid-equalHeight">
      {% include course-summary-ga-further.html %}
    </div>

    <div class="col-4_sm-12 grid-equalHeight">
      {% include course-summary-seo-intro.html %}
    </div>

  </div>

</section>
