---
layout: default
title: Introduction to Google Analytics - Training Course in Adelaide
title-header: Introduction to Google Analytics
meta-description: This half-day course is specifically designed to offer beginners a comprehensive intro to Google Analytics, building confidence and understanding reports.
featured-image_path: /images/intro-to-google-analytics-fb-feature.jpg
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <div class="video-container"><iframe class="video-proportion" src="https://www.youtube.com/embed/AjDg_WJA18M?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe></div>
      <h2 class="margin-top">Course Overview:</h2>
      <p> In this comprehensive workshop, you’ll learn how to get great insight into who is visiting your website, how long for, what pages they are viewing, how they find it and what exactly to do with this information to keep people coming back to your site. </p>
      <p> You’ll uncover helpful insights, expert data and plenty of information that you didn’t even know you needed to improve results. </p>
      <p> With a focus on clear guidance, practical advice and actionable steps, you’ll come away from this training with renewed and up to date information and knowledge. </p>
      <p> Stop guessing and start knowing! </p>
      <h3> Here’s what you’ll explore during this session: </h3>
      <p>
        <ul>
          <li>admin tab: your account, property and view</li>
          <li>reporting tab: your audience, acquisition (including direct, mobile, organic, socially driven and other) and behaviour</li>
          <li>how people find your website, how long they stay on it and where they leave</li>
          <li>real time analytics</li>
          <li>setting up simple goal conversions</li>
          <li>a basic introduction to using segments</li>
          <li>adding annotations</li>
          <li>creating an effective and usable reporting template</li>
          <li>and so much more!</li>
        </ul>
      </p>
      <h3>What’s included: </h3>
      <p>
        <ul>
          <li>light refreshments</li>
          <li>modern computer training room</li>
          <li>individual computers (PC) and the necessary internet access and software</li>
          <li>full set of training resources</li>
          <li>high quality training</li>
        </ul>
      </p>
      <p> Each session is restricted to limited participants (generally five to twenty attendees), so you have the opportunity to fully benefit from the trainer’s knowledge and advice. </p>
      <h3>Course pre-requisites: </h3>
      <p>
        <ul>
          <li>a business or personal website or blog with Google Analytics installed</li>
          <li>a minimum of one month’s complete data collected</li>
        </ul>
      </p>
      <h6>How to install Google Analytics</h6>
      <p>To install Google Analytics on your website, follow the steps outlined <a href="https://support.google.com/analytics/answer/1008015?hl=en" target="_blank">here.</a></p>
      <p>Installation will vary depending on your website set up. The most important thing to remember is that it must be installed on ALL pages of your website…</p>
      <h6>Need help installing Google Analytics?</h6>
      <p>If you need help installing Google Analytics, or want a check that yours is installed correctly, please <a href="/contact.html">contact us here</a>.</p>
      <p> <strong>Please note:</strong> This course does not cover eCommerce Google Analytics. <a href="/contact.html">Register here</a> to be the first to know when these are offered. </p>
      <a class="button-inverted" href="https://www.eventbrite.com/e/introduction-to-google-analytics-tickets-32576876314" target="_blank"> Make the most of your Google Analytics now! </a>
      <p> You may also like… <a href="/google-analytics-further.html">Taking Google Analytics Further</a> </p>

  <div class="background-grey">
      {% include profile-erica.html %}
  </div>

  <div>
    {% include venue.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/introduction-to-google-analytics.jpg" />
      <h5> Introduction to Google Analytics </h5>
      <p> A comprehensive introductory guide to the immensely (and often overwhelming) useful insights tool, Google Analytics. Specifically designed with the beginner user in mind. </p>
      <p> <strong> Duration: </strong> Half day (morning) </p>
      <p> <strong> Date/s: </strong> </p>
      <p>
        <ul>
          <li>Thursday 20 April 2017 </li>
          <li>Thursday 6 July 2017 </li>
          <li>Thursday 28 September 2017 </li>
        </ul>
      </p>
      <p> <strong> Time: </strong> 9am - 1pm (4 hours) </p>
      <p> <strong> Location: </strong> The IVC, 19 Young Street, Adelaide, South Australia </p>
      <p> <strong> Cost: $220 inc GST </strong> </p>
      <p> <em> Discount available when booked with other courses </em> </p>
      <a class="button-inverted" href="https://www.eventbrite.com/e/introduction-to-google-analytics-tickets-32576876314" target="_blank"> Join Now </a>
    </div>
  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_sm-12 grid-equalHeight">
      {% include course-summary-ga-further.html %}
    </div>

    <div class="col-4_sm-12 grid-equalHeight">
      {% include course-summary-seo-intro.html %}
    </div>

  </div>

</section>
