---
layout: default
title: Taking Google Analytics Further - Training Course in Adelaide
title-header: Taking Google Analytics Further
meta-description:
featured-image_path:
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <div class="video-container"><iframe class="video-proportion" src="https://www.youtube.com/embed/8I0r5TMsrRw?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe></div>
      <h2 class="margin-top">Course Overview:</h2>
      <h6>Introductory sentence that will stop visitors in their tracks.</h6>
      <p>A couple of paragraphs here to draw them in more, making them nod their heads acknowledging their frustration, and then giving them joy that this training will give them confidence and results.</p>
      <p>A couple of paragraphs here to draw them in more, making them nod their heads acknowledging their frustration, and then giving them joy that this training will give them confidence and results.</p>
      <h3>This course will cover: </h3>
      <p>
        <ul>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
        </ul>
      </p>
      <h3>Course pre-requisites: </h3>
      <p>A business or personal website or blog with Google Analytics installed, and a minimum of 1 month’s complete data collected.</p>
      <h5>How to install Google Analytics</h5>
      <p>To install Google Analytics on your website, follow the steps outlined <a href="https://support.google.com/analytics/answer/1008015?hl=en" target="_blank">here.</a></p>
      <p>Installation will vary depending on your website set up. The most important thing to remember is that it must be installed on ALL pages of your website…</p>
      <h5>Need help installing Google Analytics?</h5>
      <p>If you need help installing Google Analytics, or want a check that yours is installed correctly, please <a href="/#">contact us here</a>.</p>
      <h3>What’s included: </h3>
      <p>
        <ul>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
        </ul>
      </p>
      <h3>Who it’s for:</h3>
      <p>
        <ul>
          <li>Savvy business owners and managers who want to understand what can be tracking on their website, to marry with business goals</li>
          <li>Webmasters and website managers</li>
          <li>In-house or independent marketers responsible for driving traffic to and/or activity on websites</li>
          <li>Web developers who want to understand the activity of visitors on sites they build</li>
          <li>Anyone who wants to grasp the fundamentals of Google Analytics and understand the basic metrics surrounding the visitation to and activity on your website</li>
        </ul>
      </p>
      <h3>Who it’s not for: </h3>
      <p>People who don’t care about numbers and understanding your historical website data.</p>

  <div class="background-grey">
      {% include profile-erica.html %}
  </div>

  <div>
    {% include venue.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/advanced-google-analaytics.jpg" />
      <h5> Taking Google Analytics Further </h5>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec.</p>
      <p>Duration: Half day (morning)</p>
      <p>Date/s: </p>
      <p>Time: 9am - 1pm (4 hours)</p>
      <p>Location: The IVC, 19 Young Street, Adelaide, South Australia</p>
      <p>Cost: $XXX inc GST</p>
      <a class="button-inverted" href="#register"> Join Now </a>
    </div>
  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_sm-12 grid-equalHeight">
      {% include course-summary-ga-intro.html %}
    </div>

    <div class="col-4_sm-12 grid-equalHeight">
      {% include course-summary-seo-intro.html %}
    </div>

  </div>

</section>
