---
layout: default
title: Introduction to SEO Best Practices - Training Course in Adelaide
title-header: Introduction to SEO Best Practices
meta-description:
featured-image_path:
---

<!-- Main course content here -->

<section class="grid">

  <div class="col-8_md-12">

      <!-- course specific overview video here -->
      <div class="video-container"><iframe class="video-proportion" src="https://www.youtube.com/embed/8I0r5TMsrRw?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe></div>
      <h2 class="margin-top">Course Overview:</h2>
      <h6>Introductory sentence that will stop visitors in their tracks.</h6>
      <p>A couple of paragraphs here to draw them in more, making them nod their heads acknowledging their frustration, and then giving them joy that this training will give them confidence and results.</p>
      <p>A couple of paragraphs here to draw them in more, making them nod their heads acknowledging their frustration, and then giving them joy that this training will give them confidence and results.</p>
      <h3>This course will cover: </h3>
      <p>
        <ul>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
        </ul>
      </p>
      <p></p>
      <h3>Course pre-requisites: </h3>
      <p>Include here.</p>
      <h3>What’s included: </h3>
      <p>
        <ul>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
          <li>List of inclusions</li>
        </ul>
      </p>
      <h3>Who it’s for:</h3>
      <p>
        <ul>
          <li>Savvy business owners and managers who want to understand how search engine rankings work, and what they can do to improve their websites'</li>
          <li>In-house or independent marketers responsible for driving traffic to websites</li>
          <li>Web developers who want to understand how to optimise the websites they build</li>
          <li>Anyone who wants to grasp the fundamentals of search engine optimisation</li>
        </ul>
      </p>
      <h3>Who it’s not for: </h3>
      <p>People who are happy to have someone else optimise their website for them.</p>

  <div class="background-grey">
      {% include profile-erica.html %}
  </div>

  <div>
    {% include venue.html %}
  </div>

</div>

<!-- right hand side column -->
  <div class="col-4_md-12">
    <div class="course-summary">
      <h3> Course details: </h3>
      <img src="/images/introduction-to-seo.jpg" />
      <h5> Introduction to SEO Best Practices </h5>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec.</p>
      <p>Duration: Half day (morning)</p>
      <p>Date/s: </p>
      <p>Time: 9am - 1pm (4 hours)</p>
      <p>Location: The IVC, 19 Young Street, Adelaide, South Australia</p>
      <p>Cost: $XXX inc GST</p>
      <a class="button-inverted" href="#register"> Join Now </a>
    </div>
  </div>

</section>

<!-- Related courses section, bring in via includes -->

<section>

  <h3> Related courses: </h3>

  <div class="grid">

    <div class="col-4_sm-12 grid-equalHeight">
      {% include course-summary-ga-intro.html %}
    </div>

    <div class="col-4_sm-12 grid-equalHeight">
      {% include course-summary-ga-further.html %}
    </div>

  </div>

</section>
