<div class="course-summary">
    <div>
        <a href="/seo-basics"><img src="/images/introduction-to-seo.jpg" /></a>
        <a href="/seo-basics"><h3> Introduction to SEO best practices </h3></a>
        <p> Learn authentic Search Engine Optimisation tips and techniques to get real results and successfully rank your pages, driving visitors, clients and customers to your website. </p>
    </div>
    <div class="grid-middle">
        <div class="col-6">
            <p class="course-price">Half Day Course</p>
            <p class="course-price">Adelaide CBD</p>
            <p class="course-price">$220 + BF + GST</p>
        </div>
        <div class="col-6">
            <img src="/images/Erica-adelaide-digital-marketer.jpg" alt="Google Analytics Trainer Adelaide - Erica Stacey (nee Nistico)" class="small-portrait-circle">
        </div>
    </div>
    <div class="grid-middle">
        <div class="col-6_md-12">
            <a class="button-inverted" href="/seo-basics"> Learn More </a>
        </div>
        <div class="col-6_md-12">
            <a class="button-inverted" href="https://www.eventbrite.com/e/introduction-to-search-engine-optimisation-seo-tickets-32614699444" target="_blank"> Join Now </a>
        </div>
    </div>
</div>
