<div class="course-summary">
    <div>
        <a href="/google-analytics-further.html"><img src="/images/advanced-google-analytics.jpg" /></a>
        <a href="/google-analytics-further.html"><h3> Taking Google Analytics Further </h3></a>
        <p> If you have been using Google Analytics for a little while but are ready to understand how you can make much better use of it then this course will take you there. </p>
    </div>
    <div class="grid-middle">
        <div class="col-6">
            <p class="course-price">Half Day Course</p>
            <p class="course-price">Adelaide CBD</p>
            <p class="course-price">$220 inc GST</p>
        </div>
        <div class="col-6">
            <img src="/images/Erica-adelaide-digital-marketer.jpg" alt="Google Analytics Trainer Adelaide - Erica Stacey (nee Nistico)" class="small-portrait-circle">
        </div>
    </div>
    <div class="grid-middle">
        <div class="col-6_md-12">
            <a class="button-inverted" href="/google-analytics-further.html"> Learn More </a>
        </div>
        <div class="col-6_md-12">
            <a class="button-inverted" href="#register"> Join Now </a>
        </div>
    </div>
</div>
