<div class="course-summary">
    <div>
        <a href="/google-analytics-intro.html"><img src="/images/introduction-to-google-analytics.jpg" /></a>
        <a href="/google-analytics-intro.html"><h3> Introduction to Google Analytics </h3></a>
        <p> A comprehensive introductory guide to the immensely useful (but often overwhelming) insights tool, Google Analytics. Specifically designed with the beginner user in mind. </p>
    </div>
    <div class="grid-middle">
        <div class="col-6">
            <p class="course-price">Half Day Course</p>
            <p class="course-price">Adelaide CBD</p>
            <p class="course-price">$220 inc GST</p>
        </div>
        <div class="col-6">
            <img src="/images/Erica-adelaide-digital-marketer.jpg" alt="Google Analytics Trainer Adelaide - Erica Stacey (nee Nistico)" class="small-portrait-circle">
        </div>
    </div>
    <div class="grid-middle">
        <div class="col-6_md-12">
            <a class="button-inverted" href="/google-analytics-intro.html"> Learn More </a>
        </div>
        <div class="col-6_md-12">
            <a class="button-inverted" href="https://www.eventbrite.com/e/introduction-to-google-analytics-tickets-32576876314" target="_blank"> Join Now </a>
        </div>
    </div>
</div>
