<div class="course-summary">
    <div>
        <a href="/google-analytics-further.html"><img src="/images/advanced-google-analaytics.jpg" /></a>
        <a href="/google-analytics-further.html"><h3> Taking Google Analytics Further </h3></a>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec.</p>
    </div>
    <div class="grid-middle">
        <div class="col-6">
            <p class="course-price">Half Day Course</p>
            <p class="course-price">Adelaide CBD</p>
            <p class="course-price">$XXX</p>
        </div>
        <div class="col-6">
            <img src="/images/Erica-adelaide-digital-marketer.jpg" alt="Google Analytics Trainer Adelaide - Erica Stacey (nee Nistico)" class="small-portrait-circle">
        </div>
    </div>
    <div class="grid-middle">
        <div class="col-6_md-12">
            <a class="button-inverted" href="#register"> Learn More </a>
        </div>
        <div class="col-6_md-12">
            <a class="button-inverted" href="#register"> Join Now </a>
        </div>
    </div>
</div>
