<img src="/images/scout-digital-training-logo-horizontal-white.png" class="logo" />

<nav class="mob-nav">
  <a href="/index"> Home </a>
  <a href="/about"> About </a>
  <a href="/courses"> Courses </a>
  <a href="/contact"> Contact </a>
</nav>

<hr> <!-- this is a horizontal rule, aka line -->

<nav class="social-nav">
  <!-- add your social links here -->
  <a href="https://www.facebook.com/scoutsocial" target="_blank"> <i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/scoutsocial/" target="_blank"> <i class="fa fa-instagram"> </i></a>
  <a href="https://twitter.com/scoutsocial" target="_blank"> <i class="fa fa-twitter"></i></a>
  <a href="https://www.linkedin.com/company/scout-digital-marketing" target="_blank"> <i class="fa fa-linkedin"></i></a>
</nav>
