<h2> About the trainer </h2>
<div class="grid">
  <div class="col-6_sm-12 no-padding">
    <p> The Google Analytics and SEO training courses are facilitated by Erica Stacey (nee Nistico), Top Scout and Digital Marketer at <a href="http://www.scoutdigitalmarketing.com.au" target="_blank">Scout Digital Marketing</a>. </p>
    <p> Erica has been working in digital for nearly 10 years, and is obsessed with understanding and using data to improve online results. </p>
    <p> She is passionate about helping webmasters understand how to best manage their own website content, optimising it for visitors <i>and</i> search engines, and interpreting their metrics to improve performance. </p>
    <p> Google has recognised Erica as a Google Analytics and AdWords certified professional, meaning that she has passed multiple exams that assess her product expertise. </p>
  </div>
  <div class="col-6_sm-12-middle">
    <img src="/images/Erica-adelaide-digital-marketer.jpg" alt="Digital Marketer Adelaide - Erica Stacey (nee Nistico)" class="large-portrait-circle">
  </div>
</div>
