<h2> About your trainer </h2>
<div class="grid">
  <div class="col-6_sm-12 no-padding">
    <p> Sara Pemberton (from <a href="https://www.milksocial.com.au" target="_blank">milk social</a>) is an experienced Social Media Manager and Strategist, with a passion for training. </p>
    <p> She has worked both internally, and agency-side, establishing, managing, supporting and reporting social media for small to large organisations. </p>
    <p> Sara has hands-on experience across social media marketing and paid advertising, social media monitoring, analytics, and insights, and is well-versed in content strategy, brand communications, copy writing and editing for multiple digital and social media channels. </p>
    <p> What's more, she LOVES social media, and is excited to share her strategies and insights with you. </p>
  </div>
  <div class="col-6_sm-12-middle">
    <img src="/images/Sara-adelaide-social-media-marketer.jpg" alt="Social Media Marketer Adelaide - Sara Pemberton (Sara Ierace)" class="large-portrait-circle">
  </div>
</div>
