<h2> About your trainer </h2>
<div class="grid">
  <div class="col-6_sm-12 no-padding">
    <p> Erica Stacey, your workshop leader, is a Google Analytics and AdWords certified professional, so you’re in qualified hands. </p>
    <p> She has also recently completed an intensive training bootcamp with the Institute of Code and has an extensive wealth of online proficiencies. </p>
    <p> Erica has had over a decade of experience – working for agencies and a wide range of clients – in digital and social media marketing strategy, website development, search engine optimisation (SEO) and marketing (SEM), content marketing, inbound marketing, online advertising and so much more. </p>
    <p> A professional in the field of design, branding and marketing, she is a trusted name in the Adelaide community to help an array of businesses sort out and achieve their marketing objectives. </p>
  </div>
  <div class="col-6_sm-12-middle">
    <img src="/images/Erica-adelaide-digital-marketer.jpg" alt="Digital Marketer Adelaide - Erica Stacey (nee Nistico)" class="large-portrait-circle">
  </div>
</div>
