<section class="fixed no-padding">
  {% include ribbon-top.html %}
</section>

<header>
  <section class="grid-middle no-padding">
    <div class="col-6_sm-12">
      <a href="/index"><img class="logo" src="/images/scout-digital-training-logo-horizontal.png" alt="Scout Digital Training Courses"></a>
    </div>
    <div class="col-6_sm-12 mob-hide">
      <nav class="right">
        <a href="/index"> Home </a>
        <a href="/about"> About </a>
        <a href="/courses"> Courses </a>
        <a href="/contact"> Contact </a>
      </nav>
    </div>
  </section>
</header>
