<h2> Testimonial </h2>
<div class="relative blockquote">
  <i class="fa fa-quote-left featured"></i>
  <blockquote>
    <p> Erica is passionate about helping webmasters understand how to best manage their own website content, optimising it for visitors and search engines and interpreting their metrics to improve performance. </p>
  </blockquote>
  <i class="fa fa-quote-right quote-right featured"></i>
</div>
<div class="grid-middle">
  <div class="col-4_sm-12 grid-center">
    <img src="/images/michelle-prak-testimonial-square.jpg" class="small-portrait-circle">
  </div>
  <div class="col-8_sm-12">
    <p> <bold>Michelle Prak</bold> <br>
    <a href="https://prakkypedia.prakky.com.au" target="_blank">Prak Communications Pty Ltd</a>.</i> </p>
  </div>
</div>
