<h2> Testimonial </h2>
<div class="relative blockquote">
  <i class="fa fa-quote-left featured"></i>
  <blockquote>
    <p> Erica's training helped us understand how we can optimise our website to best serve our residents using the insights provided by Google Analytics. </p>
    <p> Now that we're using Custom Campaigns, we have a greater understanding of the effectiveness of our various communication channels, which allows us to be more targeted in our approach. </p>
    <p> We appreciated Erica's patience for our questions, and the fact that she went the extra mile to follow up after the training and provide us with useful tips and tools. </p>
  </blockquote>
  <i class="fa fa-quote-right quote-right featured"></i>
</div>
<div class="grid-middle">
  <div class="col-4_sm-12 grid-center">
    <img src="/images/lauren-christensen-testimonial-square.jpg" class="small-portrait-circle">
  </div>
  <div class="col-8_sm-12">
    <p> <bold>Lauren Christensen</bold> <br>
    <i> Social Media Advisor, Marketing & Communications <br>
    <a href="http://www.charlessturt.sa.gov.au" target="_blank">City of Charles Sturt</a>.</i> </p>
  </div>
</div>
