<h2> Testimonial </h2>
<div class="relative blockquote">
  <i class="fa fa-quote-left featured"></i>
  <blockquote>
    <p> Erica provided me with a detailed search engine optimisation (SEO) report for my physiotherapy practice website. </p>
    <p> This included clear suggestions for website structure and development, focused content recommendations and strategies for implementation and review. </p>
    <p> She was exceptionally thorough in her research of the physiotherapy market, allowing her to tailor her advice to my business. </p>
    <p> Erica is friendly, professional and brilliant. I have no hesitation in recommending her for all things digital marketing. </p>
  </blockquote>
  <i class="fa fa-quote-right quote-right featured"></i>
</div>
<div class="grid-middle">
  <div class="col-4_sm-12 grid-center">
    <img src="/images/matt-belton-testimonial-square.jpg" class="small-portrait-circle">
  </div>
  <div class="col-8_sm-12">
    <p> <bold>Matt Belton</bold> <br>
    <i>Physiotherapist</i> </p>
  </div>
</div>
