<h2> Testimonial </h2>
<div class="relative blockquote">
  <i class="fa fa-quote-left featured"></i>
  <blockquote>
    <p> Erica provided an in depth consultation to help me improve my SEO. </p>
    <p> Her knowledge and skills exceeded my expectations. </p>
    <p> Her friendly and non patronising manner really helped me learn an incredible amount in a short amount of time. </p>
    <p> Not only that but her advice was so clear and actionable that I started to see results in a few days! </p>
    <p> I cannot recommend Erica highly enough for SEO and digital strategy and services. </p>
  </blockquote>
  <i class="fa fa-quote-right quote-right featured"></i>
</div>
<div class="grid-middle">
  <div class="col-4_sm-12 grid-center">
    <img src="/images/vanessa-jones-testimonial-square.jpg" class="small-portrait-circle">
  </div>
  <div class="col-8_sm-12">
    <p> <bold>Vanessa Jones</bold> <br>
    <i>Copywriter + content writer + social media marketer <br>
    <a href="http://www.jonesthewriter.com/" target="_blank">Jones the Writer</a>.</i> </p>
  </div>
</div>
