<h2> Testimonial </h2>
<div class="relative blockquote">
  <i class="fa fa-quote-left featured"></i>
  <blockquote>
    <p> Erica communicates big concepts in a way that doesn't leave you sitting there feeling like an idiot. </p>
  </blockquote>
  <i class="fa fa-quote-right quote-right featured"></i>
</div>
<div class="grid-middle">
  <div class="col-4_sm-12 grid-center">
    <img src="/images/tina-may-testimonial-square.jpg" class="small-portrait-circle">
  </div>
  <div class="col-8_sm-12">
    <p> <bold>Tina May</bold> <br>
    <i> Entrepreneur / Developer / Co-founder <br>
    <a href="http://www.instituteofcode.com" target="_blank">Institute of Code</a>.</i> </p>
  </div>
</div>
