<h2 class="margin-top"> The training venue </h2>
<p> Our half day courses are held in a dedicated computer training room which is conveniently located in the Adelaide CBD. </p>
<p> <bold> The IVC (International Visualisation Centre) </bold> <br>
  19 Young Street <br>
  Adelaide, South Australia </p>
<h4> Car parking </h4>
<p> The IVC is surrounded by parking options. Undercover car parks or public transport are recommended for the half day training courses. </p>
<p> Nearby carparks include: </p>
<p>
  <ul>
    <li> <a href="http://www.autopark.com.au/auto-park-on-young" target="_blank">Auto Park on Young</a> </li>
    <li> <a href="http://upark.com.au/locations/topham"target="_blank">U Park Topham Mall</a> </li>
  </ul>
</p>
<h4> Food and drinks </h4>
<p> A tea and coffee station, water, biscuits and fruit are provided during the training session. </p>
<p> The IVC is conveniently situated near number of cafes and restaurants, should you require them. </p>
<div class="maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.1934115893423!2d138.59370931536395!3d-34.92668598037722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0cf264e20f7ab%3A0xdd6159c40548b5cf!2sIVC+-+Venue+Hire%2C+PC+Rooms!5e0!3m2!1sid!2sid!4v1486610004077" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
