<h2 class="margin-top"> The training venue </h2>
<p> All of these half day courses are held in a dedicated computer training room, conveniently located in the Adelaide CBD.</p>
<p> <bold> The IVC (International Visualisation Centre) </bold> <br>
  19 Young Street <br>
  Adelaide, South Australia </p>
<h4> Car parking </h4>
<p> The IVC is surrounded by carparking options. Undercover car parks or public transport are recommended for the half day training courses, as on-street car parks are limited to 1-2 hours). </p>
<h4> Food and drinks (i.e. coffee coffee coffee) </h4>
<p> A tea and coffee station, water, biscuits and some fruit are provided during the training session. </p>
<p> The IVC is conveniently surrounded by a number of cafes and restaurants for any other food and drinks, before or after the training session. </p>
<div class="maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.1934115893423!2d138.59370931536395!3d-34.92668598037722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0cf264e20f7ab%3A0xdd6159c40548b5cf!2sIVC+-+Venue+Hire%2C+PC+Rooms!5e0!3m2!1sid!2sid!4v1486610004077" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
